---
---

@import "{{ site.theme }}";
#footer_wrap {display: none;}
body {
    box-sizing: border-box;
    color:#373737;
    background: #F1CEBB;
    font-size: 16px;
    font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }